<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MyBatis에서의 필수사항-->
<!--namespace : class fullname-->
<mapper namespace="com.myproject.emp.mapper.EmpMapper">

    <!--empno ename job mgr hiredate sal comm deptno-->
    <!--selectAll , insertEmp, deleteByEmpno , selectByEmpno, updateEmp-->

    <!--전체리스트 출력-->
    <select id="selectAll" resultType="com.myproject.emp.domain.EmpDTO">
        select * from emp
    </select>

    <!--등록-->
    <insert id="insertEmp" parameterType="com.myproject.emp.domain.EmpDTO">
        insert into emp values (#{empno}, #{ename}, #{job} , #{mgr} , #{hiredate} , #{sal} , #{comm} , #{deptno} )
    </insert>

    <!--삭제-->
    <delete id="deleteByEmpno">
        delete from emp where empno=#{empno}
    </delete>

    <!--상세페이지-->
    <select id="selectByEmpno" resultType="com.myproject.emp.domain.EmpDTO">
        select * from emp where empno=#{empno}
    </select>

    <!--데이터 변경-->
    <update id="updateEmp" parameterType="com.myproject.emp.domain.EmpDTO">
        update emp set ename=#{ename} , job=#{job} where mgr=#{mgr}
    </update>

</mapper>