<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MyBatis에서의 필수사항-->
<!--namespace : class fullname-->
<mapper namespace="com.app.manager.mapper.TimeMapper">

        <!--method = id 일치해야한다. -->
        <select id="getTime"
                resultType="string"
        >
            select now()
        </select>
</mapper>